.text-center{
    text-align: center;
    font-weight: bold;
}

.info-grid{
    margin: 20px;
    padding-top: 10px;
}



.container-img{
    margin: 20px;
    padding-top: 10px;
}

.bold-text{
    font-weight: bolder;
}

.btn{
   display: inline-block;
    border-radius: 5px;
    border: none;
    font-size: large;
    
    
}

.letter-space{
    letter-spacing: 3px;
}
