@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Roboto:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
  color: #3a3a3a;
}

h1, h2 {
    font-family:Montserrat, sans-serif ;
}


/* navbar */

.logo, .nav-list {
    line-height: 75px;
}

.logo {
    font-size: 280%;
    letter-spacing: 5px;
    float: left;
    margin-left: 30px;
}

.nav-list {
    font-size: 180%;
    letter-spacing: 5px;
}

.nav-list li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
    padding-left: 20px;
}

.nav-list a {
    text-decoration: none;
    font-family: roboto, sans-serif;
}

.nav-list a:hover {
    background-color: #3a3a3a;
    border: 1px solid silver;
    color: #fafafa;
    border-radius: 10px;
}

.active {
    background-color: silver;
    border: 3px solid silver;
    border-radius: 10px;
}

/* hero iamge and sign up */

.hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img {
    height: 600px;
    width: 100%;
    background:url(/css/images/urban-skate-freestyle-ramp-5285328.jpg) no-repeat center center;
    
}

.button-logo {
    text-align: center;
    color: white;
    font-size: 210%;
    padding-top: 30px;
}

.join-button-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 200px;
    
    
}

.join-button {
    color: white;
    font-size: 200%;
    text-decoration: none;
    font-family: montserrat,sans-serif;
}

.join-button:hover {
    background-color: rgba(0, 0, 0, .7);
    border-radius: 20px;
}

.cover-text {
    font-size: 110%;
    font-family:Roboto,sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fafafa;
    

    width: 600px;
    height: 400px;

    

    background-color: rgba(241, 109, 107, .7);

   

    position: absolute;
}


/* school info section */


.school-info {
    height: 600px;
}


.school-logo {
    text-align: center;
}


