@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: lato, sans-serif;
    color: #333;
    line-height: 1.6;

}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

img {
    width: 100%;
    border: solid 2px black;
    border-radius: 10px;
}

/* Navbar */


.navbar {
    height: 150px;
    background-color: #166df7;
    background: linear-gradient(to bottom, #166df7, white );
}


.navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;


}

.navbar a {
    padding: 10px;
    margin: 0 5px;

}

.logo {
    text-align: center;
    color:#333;
}

/*Buttons */

.read-more-btn{
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0 ;
    

}

/* info-section */











