.text-center{
    text-align: center;
    font-weight: bold;
}

.info-grid{
    margin: 20px;
    padding-top: 10px;
}

.container{
    margin: 20px;
    padding-top: 10px;
}

.container-img{
    margin: 20px;
    padding-top: 10px;
}
