@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Roboto:ital,wght@1,300&display=swap');

/* default section */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #3a3a3a;
    
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



li {
    list-style-type: none;
}

h1,
h2 {
    font-family: Montserrat, sans-serif;
}

p {
    font-family: roboto, sans-serif;
    color: #252525;
    font-size: 150%;
    line-height: 30px;

}

hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}


/* navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3f4435;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding: 10px 10px;
}

.brand-title {
    font-size: 2rem;
    margin: .5rem;
}

.brand-title a {
    color: white;
    text-decoration: none;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 2rem;
}

.navbar-links li {
    list-style: none;

}

.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover {
    background-color: rgb(73, 193, 162, 0.5);
    border-radius: 10px;
}

.toggle-button {
    position: absolute;
    top: 28px;
    right: 5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}



/* hero iamge and sign up */



.hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: left;
    align-items: flex-end;
}

.hero-img {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image.jpeg) no-repeat center center;

}

.button-logo {
    text-align: center;
    color: white;
    font-size: 210%;
    padding-top: 30px;
}

.join-button-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 200px;


}

.join-button {
    color: white;
    font-size: 200%;
    text-decoration: none;
    font-family: montserrat, sans-serif;
}

.join-button:hover {
    background-color: rgb(73, 193, 162, 0.5);
    border-radius: 20px;
}

.cover-text {
    font-size: 110%;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fafafa;

    width: 100%;
    max-width: 400px;


    background-color: rgb(86, 86, 66, 0.7);

    margin-left: 2%;
    margin-bottom: 2%;

    position: absolute;
}


/* school info section */


.school-info {
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    line-height: 25px;
    justify-items: center;
    align-items: center;

}

.school-logo {
    text-align: center;
    font-size: 3em;
    margin: 50px 0;
}

.left-info-content {
    padding: 40px;
}


.right-info-content {
    padding: 40px;
}

.center-info {
    display: flex;
    justify-content: center;
}

.circle-outer {

    width: 300px;
    height: 300px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 50%;
}

.circle-inner {
    background: url(../images/central-img.jpg) center center no-repeat;
    height: 100%;
    border-radius: 50%;
    background-size: cover;
}


/* feedback */


.feedback {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
}


.feedback-logo {
    text-align: center;
    font-size: 280%;
    padding: 100px;
}

.feedback-item-left {
    width: 400px;
    margin-bottom: 150px;
    line-height: 20px;
}


.feedback-item-right {
    width: 420px;
    margin-bottom: 150px;
    line-height: 20px;
}



/* footer */

footer {
    width: 100%;
    height: 100px;
    background-color: rgb(63, 68, 53);
    margin-top: auto;
}

.footer-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 200%;
    padding-top: 35px;
}

footer i {
    color: white;
}



/* Team section */

.team {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    line-height: 50px;
    padding: 50px 0 0;
    justify-items: center;
    align-items: center;
}

.team-logo {
    font-size: 280%;
    text-align: center;
    margin-top: 50px;
}

.armando {
    background: url(../images/armando\ photo.png) no-repeat center center;
    background-size: cover;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 0 auto;
}

.milan {
    background: url(../images/milan\ photo.png) no-repeat center center;
    background-size: cover;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 0 auto;
}

.addison {
    background: url(../images/addison\ photo.png) no-repeat center center;
    background-size: cover;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 0 auto;
}

.andrew {
    background: url(../images/anhdrew\ photo.png) no-repeat center center;
    background-size: cover;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 0 auto;
}

.oscar {
    background: url(../images/oscar\ photo.png) no-repeat center center;
    background-size: cover;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 0 auto;
}

.patrick {
    background: url(../images/patick\ photo.jfif) no-repeat center center;
    background-size: cover;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    padding-top: 50px;
    margin: 0 auto;
}

.team-info {
    padding: 40px;
}

.team-info-under {
    padding: 40px;
}

/* signup section */

.form-section {
    font-family: Roboto, sans-serif;
}
    

.form {
    padding-top: 50px;
    height: 620px;
    width: 360px;
    background-color: white;
    margin: 0 auto;
    border-radius: 40px;
}

.form-h {
    font-size: %;
    text-align: center;
    padding-top: 15px;
}

form {
    width: 100%;
}


form label {
    display: flex;
    margin-top: 20px;
    font-size: 180%;
    text-align: center;
    justify-items: center;
}

#message {
    border-radius: 6px;
    margin-top: 10px;
    width: 100%;
}

form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}

input[type="submit"] {
    width: 100%;
    height: 35px;
    margin-top: 30px;
    border: none;
    background-color: #49c1a2;
    color: white;
    font-size: 18px;
}

#submit:hover {
    background-color: rgb(73, 193, 162, 0.5);
    cursor: pointer;
}
/* after page section */

.outer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    text-align: center;
    margin-top: 100px;
}

.inner i {
    font-size: 10em;
    color: green;
}

.header {
    padding-top: 50px;
    letter-spacing: 2px;
}

.header3 {
    padding-top: 25px;
    font-family: Montserrat, sans-serif;
    letter-spacing: 2px;
}



.inner {
    width: 100%;
    height: 400px;
    gap: 100px;
}


.clickme {
    height: 40px;
    width: 90px;
    margin-top: 30px;
    border-radius: 5px;
    background-color: #58b4e0;
    color: white;
    border: none;
    cursor: pointer;
    letter-spacing: 2px;
    font-family: Roboto, sans-serif;
}

.clickme:hover {
    background-color: rgba(88, 180, 224, 0.6);
}

/* media queries */

@media (max-width: 320px) {
    .toggle-button {
        display: flex;
        right: 3rem;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
        text-align: center;
    }

    .navbar-links.active {
        display: flex;
    }

    .school-info {
        grid-template-columns: 1fr;
        font-size: small;
    }

    .feedback {
        grid-template-columns: 1fr;
    }

    .cover-text {
        width: 100%;
        padding: 0 0 300px 0;
        height: 300px;

    }

    .team {
        display: grid;
        grid-template-columns: 1fr;
    }

    .join-button-container {
        padding-bottom: 50px;

    }

    .feedback-item-left {
        width: 300px;
    }


    .feedback-item-right {
        width: 300px;
    }

    .feedback-logo {
        padding: 50px;
    }

    .cover-text {
        margin: 0;
        padding: 0;
    }

    .form{
        width: 100%;
        
    }

    
}


@media (max-width: 500px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
        text-align: center;
    }

    .navbar-links.active {
        display: flex;
    }

    .school-info {
        grid-template-columns: 1fr;

    }

    .feedback {
        grid-template-columns: 1fr;
    }

    .cover-text {
        width: 100%;
        padding: 0 0 300px 0;
        height: 300px;

    }

    .team {
        display: grid;
        grid-template-columns: 1fr;
    }

    .join-button-container {
        padding-bottom: 50px;

    }

    .feedback-item-left {
        width: 350px;
    }


    .feedback-item-right {
        width: 350px;
    }

    .feedback-logo {
        padding: 50px;
    }

    .cover-text {
        margin: 0;
        padding: 0;
    }
}

@media (min-width: 503px) {
    .school-info {
        grid-template-columns: 1fr;

    }

    .feedback {
        grid-template-columns: 1fr;
    }

    .cover-text {
        width: 100%;
        padding: 0 0 300px 0;
        height: 200px;

    }

    .team {
        display: grid;
        grid-template-columns: 1fr;
    }

    
    

}

@media (min-width: 600px) {
    .school-info {
        grid-template-columns: 1fr;

    }
    .feedback {
        grid-template-columns: 1fr 1fr;
    }

    .team {
        display: grid;
        grid-template-columns: 1fr;
    }

    .feedback-item-left {
        width: 300px;
    }


    .feedback-item-right {
        width: 300px;
    }
}

@media (max-width: 644px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
        text-align: center;
    }

    .navbar-links.active {
        display: flex;
    }

}



@media (min-width: 1000px) {
    .school-info {
        grid-template-columns: repeat(3, 1fr);

    }

    .feedback {
        grid-template-columns: repeat(2, 1fr);
    }

    .team {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .feedback-item-left {
        width: 500px;
    }


    .feedback-item-right {
        width: 500px;
    }

   
   
}


